<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='quartz.css')}}"
    />
</head>
<body>
  <nav class="navbar bg-body-primary">
    <div class="container-fluid">
      <h1 class="text-center">Success!  Welcome, {{user.first_name}}!</h1>
      <form class="d-flex" role="logout" action="/logout">
        <button class="btn btn-outline-success" type="submit">Log Out</button>
      </form>
    </div>
  </nav>
  <div class="container mx-auto">
    <h2 class="text-center mt-3">Dashboard Stuff Goes Here</h2>
  </div>
</body>
</html>